{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Unity Controller</title>

    <link rel="stylesheet" href="{% static 'unity_controller/style.css' %}">
</head>
<body>


        <input type="hidden" id="wsurl" value="{{ WS_URL }}">
<div class="arrows">

    <a onmousedown="onStart('forward')" onmouseup="onEnd()" ontouchstart="onTouchStart(event, 'forward')" ontouchend="onTouchEnd()" class="arrow-f"></a>
    <a onmousedown="onStart('backward')" onmouseup="onEnd()" ontouchstart="onTouchStart(event, 'backward')" ontouchend="onTouchEnd()" class="arrow-b"></a>
    <a onmousedown="onStart('rightward')" onmouseup="onEnd()" ontouchstart="onTouchStart(event, 'rightward')" ontouchend="onTouchEnd()" class="arrow-r"></a>
    <a onmousedown="onStart('leftward')" onmouseup="onEnd()" ontouchstart="onTouchStart(event, 'leftward')" ontouchend="onTouchEnd()" class="arrow-l"></a>

</div>


    <script src="{% static 'unity_controller/controller.js' %}"></script>


</body>
</html>